@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500&display=swap");

@import "variable.css";

/*component*/
@import "component/index-box.css";
@import "component/mainbox-profile.css";
@import "component/mainbox-home.css";
@import "component/music-box.css";

@import "home.css";

body {
  box-sizing: border-box;
  font-family: "Noto Serif KR", serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #4d9bb3;
  width: 100%;
  height: 100%;
}

.mainbox {
  margin: 40px 110px 50px 50px;
  width: 875px;
  height: 500px;
  background-color: var(--grey);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.mainbox__page {
  display: flex;
  align-items: center;
}

.mainbox__side {
  display: flex;
}
